@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: 100%;
  height: auto;
}

body{
  font-family: "Notable", sans-serif;
  scroll-behavior: smooth;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/cricketbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

::-webkit-scrollbar{
  width:0px;
}
::-webkit-scrollbar-track {
  background-color: hsla(218, 80%, 96%, 0.375);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}